{% extends('base.html.twig') %}

{% block title %}my custom page{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <h1>welcome {{ name }} my first twig page custom</h1>
{% endblock %}

