{% extends('base.html.twig') %}

{% block title %}my first twig page{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <h1>welcome to my twig</h1>
{% endblock %}