{% extends('user.html.twig') %}

{% block title %}One-Ten Questions{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid bg-warning text-center">
        <div class="container">
            <h1>Welcome to the One to Ten Options</h1>
            <h3>Answer as truthfully as possible</h3>
        </div>
    </div>

{% endblock %}



