{% extends('user.html.twig') %}

{% block title %}Questionnaire Questions{% endblock %}



{% block body %}

    <div class="jumbotron jumbotron-fluid bg-info text-center">
        <div class="container">
            <h1>Welcome to the questionnaire</h1>
            <h3>Answer as truthfully as possible</h3>
        </div>
    </div>

{% endblock %}

