{% extends('user.html.twig') %}

{% block title %}Yes-No Questions{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid bg-success text-center">
        <div class="container">
            <h1>Welcome to the Yes or No Section</h1>
            <h3>Answer as truthfully as possible</h3>
        </div>
    </div>

{% endblock %}



