<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <style>
                h1{
                    font-size: 70px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
    <!--nav bar section-->
    <div class="w3-bar w3-blue">
        <a href="{{ path('home') }}" class="w3-bar-item w3-button w3-mobile">home</a>
        <a href="{{ path('custom') }}" class="w3-bar-item w3-button w3-mobile">custom</a>
        <a href="{{ path('custom',{name: 'tokyo'}) }}" class="w3-bar-item w3-button w3-mobile">Tokyo</a>
    </div>
    <div class="w3-container">
        {% block body %}{% endblock %}
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
